{{- range $item := .collection -}}
    <h2>{{ $item.title }}</h2>
    {{- if $item.post_list -}}
        {{ partial "post_list.html" (dict 
            "context"        . 
            "section"        $item.post_list.section 
            "limit"          $item.post_list.limit 
            "show_more"      $item.post_list.show_more 
            "show_more_text" $item.post_list.show_more_text 
            "show_more_url"  $item.post_list.show_more_url
            "categories"     $item.post_list.categories
        ) }}
    {{- end -}}

    {{- if $item.entries }}
        <ul>
            {{- range $item := $item.entries -}}
                <li><a href="{{ $item.url | relURL }}">
                    {{ safeHTML $item.title }}
                </a></li>
            {{- end -}}
        </ul>
    {{- end -}}

{{- end -}}
